# Виртуальное окружение
.venv/
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Данные (не выкладываем CSV в открытый доступ)
*.csv

# Но архив с данными оставляем
!data_files.tar.gz

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Временные файлы
*.log
*.tmp
*.temp